<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Gym">
    <test name="Payments Create">
        <classes>
            <class name="GymTest"/>
        </classes>
    </test>
    <test name="Member">
        <classes>
            <class name="GymListTest"/>
        </classes>
    </test>

</suite>
